<!DOCTYPE html>
<html>

<head>

<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
href="{{url_for('static',filename='style.css')}}">

<title>Phishing Analyzer</title>

</head>

<body>

<div class="terminal">

<div class="terminal-body">

<h1>Phishing Email Analyzer</h1>

<form method="POST">

<textarea
name="email"
placeholder="Paste email content here"
rows="8">
</textarea>

<br><br>

<button type="submit">
Analyze
</button>

</form>

<h2>{{result}}</h2>

<ul>

<h2>Risk Score : {{score}} / 100</h2>

<h2>Detected Keywords</h2>

<ul>

{% for word in found %}

<li>{{word}}</li>

{% endfor %}

</ul>


<h2>Detected Links</h2>

<ul>

{% for link in links %}

<li>{{link}}</li>

{% endfor %}

</ul>

{% for word in found %}

<li>{{word}}</li>

{% endfor %}

</ul>

</div>

</div>

</body>

</html>
